/* Ejemplo de estilos propios de css */ 

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Clase content anidada con clase row */
    .row.content {
        height: 450px
}
    
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
/* Ajuste para pantallas pequeñas. El alto de los menus laterales se pone en auto -SMALL- */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
        
      .row.content {
          height:auto;
        } 
    
}